@media only screen and (max-width: 1025px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .firstpg {
        height: 50vh !important;
        overflow-X: hidden !important;

    }

    .firstpg img {
        width: 120%;

    }

    .firstbg {
        height: 60vh !important;
        overflow: hidden !important;
    }

    .firstpg h1 {
        top: 2px;
    }

    .firstpg p {
        font-size: 10px;
    }

    .menu {
        width: 100%;
        height: 60vh;
    }

    .splash {
        width: 100%;
        height: 60vh;
    }

    .more {
        width: 100%;
        height: 60vh;
    }

    .three {
        gap: 20px;
        padding-top: 0px !important;
        padding-bottom: 60px;
    }

    .three1 {
        width: 300px !important;
    }

        .slidef img{
        width: 100%;
    }
    

    .slides h1{
        font-size: 55px;
    }
    .carousel-control-next{
margin-top: 480px;
margin-right: 300px;
}

.carousel-control-prev{
margin-top:480px;
margin-left: 700px;
}

.five{
    gap: 100px;

}

.sixpg{
    margin-top: -160px;
}


.sixpg h1{
    width: 550px;
    margin-left: 0px;
    font-size: 45px;
}

.seven{
    margin-top: -200px;
    padding-bottom: 50px;
}

.sev1 img{
    width: 120%;

}

.sev2{
    width: 350px !important;
    margin-left: 100px;
}

.eightbg{
    min-height: 100vh !important;
}

.eightpg{
    top: 2px !important;
    width: 1100px;
    height: 100vh !important;
    margin-left: 50px;
}
.ei2{
   display: none;
}

.ei1{
display: none;
}

.nine{
    display: flex !important;
}

.ninebg{
    height: 50vh !important;
}

.nine1{
    width: 450px !important;
}

.nine2{
    width: 450px !important;
}
 .footer-container {
        gap: 40px;
    }
}



@media only screen and (max-width: 820px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .firstpg p {
        top: 500px;
        left: 10px;
    } 


    .firstpg button {
        top: 490px;
        right: 10px;
    }

    .fourpg h1 {
        font-size: 90px !important;
    }

    
    .slidef img{
        width: 100%;
    }

    .slides h1{
        font-size: 35px;
    }
    .carousel-control-next{
margin-top: 1200px;
margin-right: 620px;
}

.carousel-control-prev{
margin-top:1200px;
margin-left: 600px;
}



.five{
    gap: 150px;

}

.sixpg{
    margin-top: -220px;
}


.sixpg h1{
    width: 400px;
    margin-left: 0px;
    font-size: 35px;
}
.ei2{
   display: none;
}

.ei1{
display: none;
}

.eightpg{
    margin-left: 10px;
}

.ninebg{
    height: 50vh !important;
}

.nine1{
    width: 300px !important;
    margin-left: 50px !important;

}

.nine2{
    width: 350px !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

}

@media only screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .firstpg p {
        top: 400px;
        left: 30px !important;
    }


    .firstpg button {
        top: 400px;
        right: 100px !important;
    }

    .fourpg h1 {
        font-size: 100px !important;
    }

       .slidef img{
        width: 80%;
    }

    
.seven{
    margin-top: -200px;
    padding-bottom: 50px;
}

.sev1 img{
    width: 110%;
    margin-left: 30px;

}

.sev2{
    width: 350px !important;
    margin-left: 60px;
}
.ei2{
   display: none;
}

.ei1{
display: none;
}

 .footer {
        padding: 60px 20px 30px;
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-contact {
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (max-width: 431px) {

    html,
    body {
        overflow-x: hidden !important;
    }

    .firstbg {


        height: 90vh !important;
        overflow: auto !important;
    }

    .firstpg {
        height: 75vh !important;


    }

    .firstpg h1 {
        font-size: 30px;

    }

    .firstpg h2 {

        font-size: 40px;
    }

    .firstpg p {
        width: 300px;
        top: 240px;
        left: 50px;
        font-size: 13px;
        text-align: center;
    }

    .firstpg button {
        right: 120px;
        top: 330px !important;
    }

    .navbar {
        left: 20px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        height: 120vh;
    }

    .menu1 {
        width: 400px !important;
        height: 25vh !important;
        /* border: 10px solid red; */
        gap: 0px;
        margin-top: -100px;
    }

    .menu1 h3 {
        font-size: 20px;
    }

    #cc {
        top: 90px;
    }

    .menu2 h4 {
        font-size: 15px;
    }

    .menu2 {
        width: 400px !important;
        height: 20vh;
        gap: 0px;

        /* border: 10px solid red; */


    }

    .menu3 {
        width: 400px !important;
        height: 30vh;
        /* border: 10px solid red; */
        gap: 0px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu3 img {
        width: 40%;
    }

    .extra {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        height: 16vh;
    }

    .extra h1 {
        font-size: 30px;
    }

    .three1 {
        width: 350px !important;
    }

    .fourpg h1 {
        font-size: 60px !important;
        line-height: 80px;
    }

    .slides h1 {
        font-size: 35px;
    }

    .slides h4 {
        margin-top: 20px;
        font-weight: 500;
    }

    .slidef img{
        width: 100%;
    }

    .secpg{
        margin-top: -80px;
    }

    .carousel-control-next{
margin-top: 800px;
margin-right: 280px;
}

.carousel-control-prev{
margin-top: 800px;
margin-left: 180px;
}

.five{
    flex-direction: column-reverse;
    gap: 0px;
}
.sixpg{
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    
    padding: 100px 20px 100px 20px; 
}

.sixpg h1{
    width: 350px;
    font-size: 40px;
}


.seven{
    margin-top: -200px;
    padding-bottom: 50px;
}

.sev1 img{
    width: 90%;
    margin-left: 22px;

}

.sev2{
    width: 350px !important;
    margin-left: -30px;
    
}

.eightbg{
    position: relative;
min-height: 100vh !important;

}



.eightpg{
    top: 10px !important;
    position: sticky !important; 
        right: 500px;
    height: 100vh;

}

.ei2{
   display: none;
}

.ei1{
display: none;
}

.eightpg h1{
    font-size: 50px;
}

.eightpg h3{
    font-size: 20px;
}

.ninebg{
    height: 61vh !important;
}
.ninebg h1{
    font-size: 40px;
    margin-left: 10px;
    
}

.nine1{
    margin-left: 80px !important;
}

.nine2{
    width: 100%;
    margin: 0px !important;
}

.nine2 video{
    width: 140%;
    margin-left: 50px;

}

}

@media only screen and (max-width: 420px) {


  .firstbg {


        height: 100vh !important;
        overflow: auto !important;
    }

    .firstpg {
        height: 85vh !important;


    }

    .bgmore {
        width: 350px !important;
    }  

    .firstpg h1 {
        font-size: 30px;

    }

    .firstpg h2 {

        font-size: 40px;
    }

    .firstpg p {
        width: 300px;
        top: 240px;
        left: 50px;
        font-size: 13px;
        text-align: center;
    }

    .firstpg button {
        right: 120px;
        top: 330px !important;
    }

    .navbar {
        left: 20px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        height: 120vh;
    }

    .menu1 {
        width: 400px !important;
        height: 25vh !important;
        /* border: 10px solid red; */
        gap: 0px;
        margin-top: -100px;
    }

    .menu1 h3 {
        font-size: 20px;
    }

    #cc {
        top: 90px;
        left: 50px !important;
    }

    .menu2 h4 {
        font-size: 15px;
    }

    .menu2 {
        width: 400px !important;
        height: 20vh;
        gap: 0px;

        /* border: 10px solid red; */


    }

    .menu3 {
        width: 400px !important;
        height: 30vh;
        /* border: 10px solid red; */
        gap: 0px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu3 img {
        width: 40%;
    }

    .extra {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        height: 16vh;
    }

    .extra h1 {
        font-size: 30px;
    }

    .three1 {
        width: 350px !important;
    }

    .fourpg h1 {
        font-size: 60px !important;
        line-height: 80px;
    }

    .slides h1 {
        font-size: 35px;
    }

    .slides h4 {
        margin-top: 20px;
        font-weight: 500;
    }

    .slidef img{
        width: 100%;
    }

    .secpg{
        margin-top: -80px;
    }

    .carousel-control-next{
margin-top: 790px;
margin-right: 280px;
}

.carousel-control-prev{
margin-top: 790px;
margin-left: 180px;
}

.five{
    flex-direction: column-reverse;
    gap: 0px;
}
.sixpg{
    height: 500px;
    margin-top: 0px;
    margin-left: 0px;
    
    padding: 100px 20px 100px 20px; 
}

.sixpg h1{
    width: 350px;
    font-size: 40px;
}


.seven{
    margin-top: -200px;
    padding-bottom: 50px;
}

.sev1 img{
    width: 90%;
    margin-left: 22px;

}

.sev2{
    width: 350px !important;
    margin-left: -3 0px;
    
}

.eightbg{
    position: relative;
min-height: 100vh !important;

}



.eightpg{
    top: 10px !important;
    position: sticky !important; 
        right: 500px;
    height: 100vh;

}

.ei2{
   display: none;
}

.ei1{
display: none;
}

.eightpg h1{
    font-size: 50px;
}

.eightpg h3{
    font-size: 20px;
}

.ninebg{
    height: 61vh !important;
}
.ninebg h1{
    font-size: 40px;
    margin-left: 10px;
    
}

.nine1{
    margin-left: 80px !important;
}

.nine2{
    width: 100%;
    margin: 0px !important;
}

.nine2 video{
    width: 140%;
    margin-left: 50px;

}



}